<%#
    Refactor: There is too much code in this view?

    In this view (products/show) the links show are based on the users status. If they are signed in and
    registered they will see the product based on the product id associated with their account
    
    If they are not signed in and subscribed they will see the subscription details for the product they selected.
    
    They will not see this page if they are not signed in. 
%>


<body id="LoginForm">
<br>
<br>



<div class="card text-center" style="min-height: 125px; margin: auto; max-width: 400px; width: 50%">

  <div class="card-header">
    <strong>Reports</strong>
  </div>

  <% if user_signed_in? && current_user.subscribed? && current_user.product_id == 1%>
      
      <h1 class="display-3 text-center"> Beta Reports Home </h1>
      <table class="table table-striped table-bordered">
        <tr>
            <td>Base Report</td>
            <td><%= link_to 'Generate Base Report', show_base_report_reports_path, class: "btn btn-primary" %> </td> 
        </tr>
        <tr>
            <td>Report 2</td>
            <td><%= link_to 'Generate Base Report', show_base_report_reports_path, class: "btn btn-primary" %></td> 
        </tr>
        <tr>
            <td>Report 3</td>
            <td><%= link_to 'Generate Base Report', show_base_report_reports_path, class: "btn btn-primary" %></td> 
        </tr>
      </table>

  <% elsif user_signed_in? && current_user.subscribed? && current_user.product_id == 2%>
      
      <h1 class="display-4 text-center"> Corporate Reports Home </h1>
      
      <table class="table table-striped table-bordered">
        <tr>
            <td>Base Report</td>
            <td><%= link_to 'Generate Base Report', show_base_report_reports_path, class: "btn btn-primary" %> </td> 
        </tr>
        <tr>
            <td>Report 2</td>
            <td><%= link_to 'Generate Base Report', show_base_report_reports_path, class: "btn btn-primary" %></td> 
        </tr>
        <tr>
            <td>Report 3</td>
            <td><%= link_to 'Generate Base Report', show_base_report_reports_path, class: "btn btn-primary" %></td> 
        </tr>
        <tr>
            <td>Report 4</td>
            <td><%= link_to 'Generate Base Report', show_base_report_reports_path, class: "btn btn-primary" %></td> 
        </tr>
        <tr>
            <td>Report 5</td>
            <td><%= link_to 'Generate Base Report', show_base_report_reports_path, class: "btn btn-primary" %></td> 
        </tr>
      </table>


  <% elsif user_signed_in? && current_user.subscribed? && current_user.product_id == 3%>
  
  
      <h1 class="display-4 text-center"> Pro Reports Home </h1>
      
      <table class="table table-striped table-bordered">
        <tr>
            <td>Base Report</td>
            <td><%= link_to 'Generate Base Report', show_base_report_reports_path, class: "btn btn-primary" %> </td> 
        </tr>
        <tr>
            <td>Report 2</td>
            <td><%= link_to 'Generate Base Report', show_base_report_reports_path, class: "btn btn-primary" %></td> 
        </tr>
        <tr>
            <td>Report 3</td>
            <td><%= link_to 'Generate Base Report', show_base_report_reports_path, class: "btn btn-primary" %></td> 
        </tr>
        <tr>
            <td>Report 4</td>
            <td><%= link_to 'Generate Base Report', show_base_report_reports_path, class: "btn btn-primary" %></td> 
        </tr>
        <tr>
            <td>Report 5</td>
            <td><%= link_to 'Generate Base Report', show_base_report_reports_path, class: "btn btn-primary" %></td> 
        </tr>
        <tr>
            <td>Report 6</td>
            <td><%= link_to 'Generate Base Report', show_base_report_reports_path, class: "btn btn-primary" %></td> 
        </tr>
        <tr>
            <td>Report 7</td>
            <td><%= link_to 'Generate Base Report', show_base_report_reports_path, class: "btn btn-primary" %></td> 
        </tr>
      </table>
  <% else %>
  
    <p class="card-text">
      <strong>Description:</strong>
      <%= @product.description %> 
    </p>
    
    <p class="card-text">
      
      <% if @product.name == "Beta" %>
        <p class="card-text">Price: 50/month</p> 
        <ul style="text-align: left; margin: 20px;">
          <li><p class="card-text">Monitoring of 11 stores and online platforms Colombia</p></li>
          <li><p class="card-text">Access up to 05 month consultations</p></li>
        </ul>
        
      <% elsif @product.name == "Corporate" %>
        <p class="card-text">Price: 150/month</p> 
        <ul style="text-align: left; margin: 20px;">
          <li><p class="card-text">Monitoring of 11 stores and online platforms Colombia</p></li>
          <li><p class="card-text">Access up to 05 month consultations</p></li>
          <li><p class="card-text">General price analysis (daily, monthly, semi-annual)</p></li>
          <li><p class="card-text">Daily report of price behavior.</p></li>
          <li><p class="card-text">Daily alerts of new and retired products</p></li>
          <li><p class="card-text">Historical price report for last 6 months</p></li>
        </ul>
        
      
      <% elsif @product.name == "Pro" %>
        <p class="card-text">Price: 250/month</p>   
        <ul style="text-align: left; margin: 20px;">
          <li><p class="card-text">Monitoring of 11 stores and online platforms Colombia</p></li>
          <li><p class="card-text">Access up to 05 month consultations</p></li>
          <li><p class="card-text">General price analysis (daily, monthly, semi-annual)</p></li>
          <li><p class="card-text">Daily report of price behavior.</p></li>
          <li><p class="card-text">Daily alerts of new and retired products</p></li>
          <li><p class="card-text">Historical price report for last 6 months</p></li>
          <li><p class="card-text">Daily alerts of new and retired products</p></li>
          <li><p class="card-text">Historical price report for last 6 months</p></li>
          <li><p class="card-text">Access to syndicated reports</p></li>
        </ul>
        
      
    
      <% end %>
      
    </p>

	  <%= link_to "Subscribe", new_subscription_path(plan: @product.name), class: "btn btn-primary" %>

  <% end %>

</div>

</body>
<%#<%= link_to 'Edit', edit_product_path(@product) %> 

<!-- user should not be allowed to go back to products index page -->
<!-- <p class="btn btn-secondary btn-sm><%#<%= link_to 'Back', products_path %></p>
