<%#
    Refactor: There is too much code in this view?

    In this view (products/show) the links show are based on the users status. If they are signed in and
    registered they will see the product based on the product id associated with their account
    
    If they are not signed in and subscribed they will see the subscription details for the product they selected.
    
    They will not see this page if they are not signed in. 
%>

<div class="card text-center card_hover_effect" style="min-height: 125px; margin: auto; max-width: 400px; width: 50%">

  <div class="card-header">
    <strong><%= @product.name + " Reports"%></strong>
  </div>

  <% if user_signed_in? && current_user.subscribed? && current_user.product_id == 1%>
  
      <%# <strong>My Secret:</strong> #>
      <%= @product.secret %>
      <ul style="text-align: left; margin: 20px;">
        <li><p class="btn btn-primary" style="margin: 15px;"><%= link_to 'Generate Base Report', show_base_report_reports_path%> </p></li>
        <li><p class="btn btn-primary" style="margin: 15px;"><%= link_to 'Generate Report 2', report_path(:id => 2) %> </p></li>
        <li><p class="btn btn-primary"style="margin: 15px;"><%= link_to 'Generate Report 3', report_path(:id => 3) %> </p></li>
      </ul>

  <% elsif user_signed_in? && current_user.subscribed? && current_user.product_id == 2%>
  
      <ul style="text-align: left; margin: 20px;">
        <li><p class="btn btn-primary" style="margin: 15px;"><%= link_to 'Generate Base Report', show_base_report_reports_path %> </p></li>
        <li><p class="btn btn-primary" style="margin: 15px;"><%= link_to 'Generate Report 2', edit_product_path(@product) %> </p></li>
        <li><p class="btn btn-primary"style="margin: 15px;"><%= link_to 'Generate Report 3', edit_product_path(@product) %> </p></li>
        <li><p class="btn btn-primary" style="margin: 15px;"><%= link_to 'Generate Report 4', edit_product_path(@product) %> </p></li>
        <li><p class="btn btn-primary"style="margin: 15px;"><%= link_to 'Generate Report 5', edit_product_path(@product) %> </p></li>
      </ul>

  <% elsif user_signed_in? && current_user.subscribed? && current_user.product_id == 3%>
  
      <ul style="text-align: left; margin: 20px;">
        <li><p class="btn btn-primary" style="margin: 15px;"><%= link_to 'Generate Base Report', show_base_report_reports_path %> </p></li>
        <li><p class="btn btn-primary" style="margin: 15px;"><%= link_to 'Generate Report 2', edit_product_path(@product) %> </p></li>
        <li><p class="btn btn-primary"style="margin: 15px;"><%= link_to 'Generate Report 3', edit_product_path(@product) %> </p></li>
        <li><p class="btn btn-primary" style="margin: 15px;"><%= link_to 'Generate Report 4', edit_product_path(@product) %> </p></li>
        <li><p class="btn btn-primary" style="margin: 15px;"><%= link_to 'Generate Report 5', edit_product_path(@product) %> </p></li>
        <li><p class="btn btn-primary" style="margin: 15px;"><%= link_to 'Generate Report 6', edit_product_path(@product) %> </p></li>
        <li><p class="btn btn-primary" style="margin: 15px;"><%= link_to 'Generate Report 7', edit_product_path(@product) %> </p></li>
      </ul>

  <% else %>
  
    <p class="card-text">
      <strong>Description:</strong>
      <%= @product.description %> 
    </p>
    
    <p class="card-text">
      
      <% if @product.name == "Beta" %>
        <p class="card-text">Price: 50/month</p> 
        <ul style="text-align: left; margin: 20px;">
          <li><p class="card-text">Monitoring of 11 stores and online platforms Colombia</p></li>
          <li><p class="card-text">Access up to 05 month consultations</p></li>
        </ul>
        
      <% elsif @product.name == "Corporate" %>
        <p class="card-text">Price: 150/month</p> 
        <ul style="text-align: left; margin: 20px;">
          <li><p class="card-text">Monitoring of 11 stores and online platforms Colombia</p></li>
          <li><p class="card-text">Access up to 05 month consultations</p></li>
          <li><p class="card-text">General price analysis (daily, monthly, semi-annual)</p></li>
          <li><p class="card-text">Daily report of price behavior.</p></li>
          <li><p class="card-text">Daily alerts of new and retired products</p></li>
          <li><p class="card-text">Historical price report for last 6 months</p></li>
        </ul>
        
      
      <% elsif @product.name == "Pro" %>
        <p class="card-text">Price: 250/month</p>   
        <ul style="text-align: left; margin: 20px;">
          <li><p class="card-text">Monitoring of 11 stores and online platforms Colombia</p></li>
          <li><p class="card-text">Access up to 05 month consultations</p></li>
          <li><p class="card-text">General price analysis (daily, monthly, semi-annual)</p></li>
          <li><p class="card-text">Daily report of price behavior.</p></li>
          <li><p class="card-text">Daily alerts of new and retired products</p></li>
          <li><p class="card-text">Historical price report for last 6 months</p></li>
          <li><p class="card-text">Daily alerts of new and retired products</p></li>
          <li><p class="card-text">Historical price report for last 6 months</p></li>
          <li><p class="card-text">Access to syndicated reports</p></li>
        </ul>
        
      
    
      <% end %>
      
    </p>

	  <%= link_to "Subscribe", new_subscription_path(plan: @product.name), class: "btn btn-primary" %>

  <% end %>

</div>
<%#<%= link_to 'Edit', edit_product_path(@product) %> 

<!-- user should not be allowed to go back to products index page -->
<!-- <p class="btn btn-secondary btn-sm><%#<%= link_to 'Back', products_path %></p>
